.personel_renkleri {
    color: rgb(0,0,255) ; background: brown;
}
  body   {
    background-color:  rgb(0, 0, 0); 
    
  }
  h1 {
  color: rgb(31, 0, 104);
  text-align: Left  ;
}

          th, td {
        border: 1px solid black;
        border-radius: 10px;
        
      }

      .myDiv {
  border: 5px outset red;
  background-color: rgb(0, 255, 42);
  text-align: center;
      }
      .nost {


        border: 10px forestgreen;
        
        
    }
    
    p {
      color: crimson;
    }

a {
  color: red;
  background-color: yellow;
}
a:visited{
  color: chocolate;
}
a:hover{
  color: blue;
}
.ark{
 background-image: url("https://images.pexels.com/photos/586744/pexels-photo-586744.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
 background-repeat: no-repeat;
 background-size: 80%;
}




