.personel_renkleri {
    color: rgb(0, 0, 0) ; 
}
  
    
  h1 {
  color: rgb(31, 0, 104);
  text-align: left ;
}

          th, td {
        border: 1px solid black;
       
        
      }

      .myDiv {
  text-align: left;
      }
      .nost {


        border: 5px outset red;
        text-align: left;
        margin : 20px; 
        width: 150px;       
        
    }
    


a {
  color: red;
  background-color: white;
}
a:visited{
  color: chocolate;
}
a:hover{
  color: blue;
}
.ark{
  background-color: white;
    background-repeat: no-repeat;
 background-size: 80%;
}


/* <!-- div {
  border: 1px solid black;
  background-color: lightblue;
  padding-top: 25px;
  padding-right: 30px;
  padding-bottom: 25px;
  padding-left: 80px;
} -->

<!-- div {
  height: 200px;
  width: 50%;
  background-color: powderblue;
} --> */
/* div {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 50px;
} */

h2{
  color: red;
  text-align: left;
}

/* h2.j{
  color: aqua;
}

h2.k{
  color: black;
}
*/
p{
  background-color: white;
  width: 300px;
  font-family:Georgia;
 
}

  p.ex2 {
    border: 2px solid black;
    outline-style: dotted;
    outline-color: blue;
    padding: 20px;


    
}

a.ex3{
  border: 5px solid green;
}

div {
  display: block;
}

/* ÖRNEK BİR CLASS */
.kl{
  color: maroon;
}






/* LİSTELEME ; */

ul.a {
  list-style-type: circle;
}

ul.b {
  list-style-type: square;
}

ol.c {
  list-style-type: upper-roman;
}

ol.d {
  list-style-type: lower-alpha;
} 








table{
  border-collapse:collapse;
  width: 100%;
}

th,td{
  text-align: left;
  padding: 8px;
  vertical-align: bottom;
}

tr:nth-child(even) {
  background-color: #d1bdbd;
}

.kalin{
 font-weight: bold ;
}











#rasttab{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#rasttab td, #rasttab th{
  border: 1px solid #ddd;
  padding: 8px;
}

#rasttab tr:nth-child(even){
  background-color: #f2f2f2;
}
#rasttab tr:hover{
  background-color: rgb(99, 99, 99);
}
#rasttab th {
  padding-top:12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}






/* display: inline aynı satıra sığdırma */
li{
  display: inline;
}

















/* . ile başlayan = class
/* . dan sonra başlayan class öncesi ana element */

/* live server */